* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif !important;
	background: url('../img/bg-curves.png') left bottom;
	background-attachment: fixed;
}

h1 {
	color: #666a73;
	font-family: 'Roboto Slab', serif !important;
	font-weight: 700;
	font-size: 36px;
}

h2 {
	color: #666a73;
	font-family: 'Roboto Slab', serif !important;
	font-weight: 400;
	font-size: 28px;
}

h3 {
	color: #666a73;
	font-family: 'Roboto Slab', serif !important;
	font-weight: 400;
	font-size: 20px;
}

.boldItalics {
	font-style: italic;
	font-weight: 700;
}

.bold {
	font-weight: bold;
}

#homeSlider {
	margin: 0;
}

.slick-slide img {
	width: 100%;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: #3e4450;
	border-bottom: 4px solid #648a8b;
	box-shadow: 0 -3px 20px rgb(25, 25, 25), 0 75px 103px -29px rgb(20, 20, 20) inset;
	box-shadow: 0 -3px 20px rgba(0, 0, 0, .8), 0 75px 103px -29px rgba(0, 0, 0, .2) inset;
}

#logocontainer {
	padding-left: 10px;
	padding-right: 10px;
}

#logo {
	display: block;
}

main {
	min-height: 100%;
	background-color: #f9f9f9;
	box-shadow: -5px 0 30px #666, 5px 0 30px #666;
	padding-bottom: 54px;
}

.content-wrap {
	top: 0;
	position: relative;
	background-color: #3e4450;
}

#navcontainer {
	position: relative;
	height: 100%;
}

.buttoncontainer {
	position: relative;
	height: 100%;
}

.navinner {
	position: absolute;
	bottom: 0;
	width: 50px;
	box-shadow: 2px -2px 17px rgba(5, 5, 5, .8);
}

#desktop-nav {
	background-color: #666a73;
	box-shadow: 0 20px 35px rgb(100, 100, 100) inset;
	box-shadow: 0 20px 35px rgba(200, 200, 200, 0.1) inset;
	display: block;
}

#desktop-nav ul.left > li {
	border-left: 1px solid #3e4450;
	border-right: 1px solid #999;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#desktop-nav a {
	text-shadow: 1px 1px #333;
	color: #eee;
	font-weight: bold;
}

#desktop-nav ul.left > li:hover {
	background: #648a8b;
	box-shadow: 0 15px 15px -5px #666a73 inset;
}

#desktop-nav ul.left > li:first-child {
	border-left: none;
}

#desktop-nav ul.left > li:last-child {
	border-right: 1px solid transparent;
}

#desktop-nav ul.left > li:last-child:hover {
	border-right-color: #999;
}

#desktop-nav ul li {
	background: none;
}

#desktop-nav ul.dropdown {
	background: #648a8b;
	box-shadow: 3px 4px 5px rgb(50, 50, 50);
	box-shadow: 3px 4px 5px rgba(0, 0, 0, .5);
}

#desktop-nav ul.dropdown li {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#desktop-nav ul.dropdown li:hover {
	box-shadow: 0 -15px 15px -5px #666a73 inset;
}

#desktop-nav ul li a {
	background: none;
}

#desktop-nav .dropdown li a {
	border-top: 1px solid #3e4450;
	border-bottom: 1px solid #999;
}

#desktop-nav .dropdown li:nth-child(3) a {
	border-top: none;
}

#desktop-nav .dropdown li:last-child a {
	border-bottom: none;
}

.right-submenu,
#mobile-nav {
	background: #666a73;
}

.right-submenu .back > a {
	background: #3e4450;
}

#mobile-nav ul li a {
	border-bottom: 1px solid #3e4450;
	border-top: 1px solid #999;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.fade h2 {
	position: absolute;
	font-size: 1.6em;
	text-align: center;
	width: 100%;
	background-color: rgb(100, 138, 139);
	background-color: rgba(100, 138, 139, .5);
	color: #fff;
	margin: 0;
	bottom: 15px;
}

.slick-prev {
	left: 20px;
}

.slick-next {
	right: 20px;
}

.slick-dots {
	bottom: 0;
	margin: 0;
	margin-left: -10px;
}

.slick-dots li button:before {
	content: " ";
	background: #648a8b;
	border: 1px solid #666a73;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	background-color: rgb(100, 138, 139);
	background-color: rgba(100, 138, 139, .5);
	border: 1px solid #648a8b;
	opacity: 1;
	box-shadow: 1px 1px 2px #000;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.slick-dots li.slick-active button:before {
	background-color: #fff;
	border: #648a8b;
}

.slick-prev:before,
.slick-next:before {
	color: #648a8b;
}

#content {
	min-height: 100%;
}

#content p {
	color: #648a8b;
	padding: 10px;
	margin: 0;
}

.home #content p:nth-child(even) {
	background-color: #ececec;
}

.bio {
	padding: 10px;
}

.bio img {
	max-width: 300px;
	float: none;
	display: block;
	margin: 0 auto;
}

.bio h3 {
	text-align:center;
}

.bio:nth-child(odd) {
	background-color: #ececec;
}

.bio h2 {
	font-size: 1.6em;
}

.bio p {
	margin: 10px;
}

.bio p:nth-child(even) {
	clear: both;
}

#testimonials {
	margin: 0;
}

#testimonials article {
	padding: 20px;
}

#testimonials article:nth-child(even) {
	background-color: #ececec;
}

.staffContact:nth-child(odd) {
	background-color: #ececec;
}

.staffContact h2{
	font-size: 1.4em;
}

.dashboard-panel ul {
	clear: both;
}

.admin-nav {
	background-color: #666a73;
	list-style-type: none;
	color: #fff;
	margin: 1px;
	padding: 20px 0 20px 0;
	width: 49%;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	font-size: 2rem;
}

.admin-nav:hover{
	background-color: #648a8b;
}

.admin-nav li {
}

.admin-nav i {
	font-size: 3rem;
	line-height: 2em;
}

.admin-nav a {
	font-size: 2rem;
	color: #fff;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	line-height: 2em;
}

.admin-nav a:hover {
	color: #3e4450;
}

.admin-nav:last-child {
	float: left !important;
}

.dashboard-desc{
	font-size: 1rem;
	color: #fff !important;
}

.staff-photo{
	height: 220px;
	background-color: #333;
}

footer {
	background-color: #648a8b;
	padding-bottom: 15px;
	padding-top: 15px;
	border-top: 4px solid #666a73;
	position: absolute;
	width: 100%;
	bottom: 0;
}

footer ul {
	list-style-type: none;
	margin: 0;
}

footer li {
	display: inline;
}

footer li a {
	font-weight: 900;
	font-size: .9em;
	color: #ddd;
}

footer li:nth-child(2) {
	padding: 0 10px 0 10px;
}

footer p {
	font-size: .8em;
	color: #ddd;
	margin-bottom: 0;
}

.off-canvas-wrap {
	overflow: hidden;
}

#mobile-nav {
	display: block;
}

#navbutton {
	background-color: #666a73;
	box-shadow: 0 20px 35px rgb(100, 100, 100) inset;
	box-shadow: 0 20px 35px rgba(200, 200, 200, 0.1) inset;
}

.about p:nth-child(odd) {
	background-color: #ececec;
}

.services {
	color: #648a8b;
}

.services:nth-child(odd) {
	background-color: #ececec;
}

.bodycontent {
	padding: 20px;
}

.move-left .exit-off-canvas {
	background: rgba(0, 0, 0, 0.6);
}

#loginbox {
	width: 40%;
	padding: 20px;
	position: relative;
	border-radius: 20px;
	margin: 30px auto;
	background-color: #666a73;
	box-shadow: 0 20px 35px rgb(100, 100, 100) inset, 0 0 35px rgb(100, 100, 100);
	box-shadow: 0 20px 35px rgba(200, 200, 200, 0.1) inset, 0 0 35px rgb(100, 100, 100);
}

#loginbox h2,
#loginbox label {
	color: #fff;
}

#loginbox input[type="submit"] {
	border: none;
	outline: none;
	padding: 5px 10px;
	background: #fff;
	font-family: 'Roboto Slab', serif !important;
	border-radius: 5px;
	font-size: 1rem;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.mission {
	color: #648a8b;
}

.structure {
	color: #648a8b;
}

.structure ul {
	padding-left: 10%;
}

.accordion-navigation a{
	transition: all .3s ease;
}

.resources ul {
	padding-left: 10%;
}

.resources p:nth-child(2n+4){
	background-color: #ececec;
}

.jobs ul {
	padding-left: 10%;
}

.jobs .accordion {
	padding-left: 0;
}

label {
	color: #666a73;
}

.productTitle {
	font-size: 20px;
	font-weight: bold;
}

.order input {
	display: inline-block;
	width: 70px;
	margin: 0;
}

.order input[type="checkbox"]{
	width: 20px;
}

.order input[type="checkbox"]:nth-child(odd){
}

.order input[type="checkbox"]:nth-child(even){
}

input[type="text"].disabled{
	background-color: #f9f9f9;
	border: none;
	box-shadow: none;
	color: #648a8b;
	font-size:  1rem;
	padding: 10px 0 0 0;
}

.formPrice, .formInfo {
	border-top: solid 1px #666a73;
	clear: both;
}

.formInfo {
	text-align: center;
}

.formInfo input {
	width: 80%;
}

.formInfo label {
	text-align: left;
	margin-top: 16px;
}

.formInfo #submit {
	display: inline-block;
	width: auto;
	margin-top: 16px;
}

.columnLeft {
	float: left;
	width: 50%;
}

.columnRight {
	float: right;
	width: 50%;
}

.cmslabel {
	font-size: .875rem;
	padding: 0 !important;
	margin: 0 !important;
}

#metadesc {
	resize: none;
}

.accordion .content.active {
	position: relative;
}

.controls {
	background: #e8e8e8;
	padding: 5px 8px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	top: 0;
	right: 20px;
}

.controls a {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}

.controls a {
	border-right: 1px solid #3e4450;
}

.controls a:last-child {
	border-right: none;
}

#popup {
	background-color: #65666a;
	position: fixed;
	z-index: 99;
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-o-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	visibility: hidden;
	display: none;
	/*margin-top: -350px;*/
	border-radius: 30px;
	box-shadow: 0 0 35px rgb(100, 100, 100);
	padding-bottom: 20px;
}

.modalup {
	opacity: 0.9 !important;
	visibility: visible !important;
	-webkit-transform: translateY(0) !important;
	-moz-transform: translateY(0) !important;
	-o-transform: translateY(0) !important;
	transform: translateY(0) !important;
}

p#deleteNot {
	font-size: 1.1em;
	text-align: center;
	margin-top: 20px;
	color: #fff;
	/*margin-right: 50px; why?? */
}

#deleteOpt {
	display: inline-block;
	margin: 0;
}

#deleteOpt li {
	float: left;
	list-style-type: none;
	margin-right: 20px; 
}

#deleteOpt li:last-child {
	margin-right: 0;
}

#deleteNot span,
#deleteOpt li a {
	padding: 5px 12px;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 10px;
}

#deleteNot span {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

#deleteOpt li a:hover {
	background: #fff;
	color: #65666a;
}

.optionholder {
	text-align: center;
}

input.formsubmit {
	outline: none;
	background: #648a8b;
	color: #fff;
	padding: 10px 15px;
	border-radius: 10px;
	border: 2px solid #666a73;
	margin: 10px auto;
	display: block;
	cursor: pointer;
}

.settingshome a.restore {
	outline: none;
	background: #E80000 ;
	color: #fff;
	padding: 10px 15px;
	border-radius: 10px;
	border: 2px solid #666a73;
	cursor: pointer;
	float: right;
}

.settingshome input.formsubmit {
	margin: 0 !important;
	display: inline;
	cursor: pointer;
}

.textareacont {
	margin-bottom: 10px;
}

.formerror p {
	color: red !important;
	font-weight: bold;
}

.cmslinks {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.cmslinks ul {
	list-style-type: none;
	clear: none;
	float: left;
	margin: 0;
}

.cmslinks ul li {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #666a73;
	box-shadow: 0 20px 35px rgb(100, 100, 100) inset;
	box-shadow: 0 20px 35px rgba(200, 200, 200, 0.1) inset;
}

.cmslinks ul li:hover {
	background: #648a8b;
	box-shadow: 0 15px 15px -5px #666a73 inset;
}

.cmslinks ul li:first-child {
	margin-left: 0;
}

.cmslinks ul li:last-child {
	margin-right: 0;
}

.cmslinks a {
	display: inline-block;
	padding: 5px 10px;
	margin: 0;
	color: #fff;
	text-shadow: 1px 1px #333;
	text-transform: uppercase;
}

.cmslinks p {
	color: #fff;
	text-shadow: 1px 1px #333;
	padding: 5px 10px;
	float: left;
	margin: 0;
}

.headertag {
	display: none;
}

.sidebar-testimonials blockquote {
	background: url('../img/quote-strt.png') no-repeat top left, #648a8b url('../img/quote-end.png') no-repeat bottom right;
	background-size: 20%;
	padding: 40px !important;
	font-style: italic;
	font-size: .875rem !important;
	border-left: 7px solid #666a73;
	overflow: hidden;
}

.sidebar-testimonials blockquote cite {
	color: #fff;
	float: right;
}

.sidebar-testimonials blockquote p {
	color: #fff !important;
}

#contactform input[type="text"] {
	width: 100%;
}

#contactform input[type="submit"], .formInfo input[type="submit"] {
	border: none;
	outline: none;
	padding: 5px 10px;
	text-transform: uppercase;
	background: #666a73;
	color: #fff;
	font-family: 'Roboto Slab', serif !important;
	border-radius: 5px;
	font-size: 1rem;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

#contactform .captcha input[type="text"]{
	margin-top: 5px;
}

#mceu_14 {
	margin-bottom: 20px;
}

.options {
	text-align: center;
}

.options a {
	background: #EFEFEF;
	padding: 10px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	color: #666a73;
	display: inline-block;
}

.options a i {
	margin-right: 10px;
}

.options a:hover,
.options a:focus {
	background: #e8e8e8;
	border-color: #EFEFEF;
}

.accordion {
	clear: both;
}

ul.accordion {
	margin-left: 0;
}

.options a.cms-active {
	border-color: #666a73;
}

.priceselect span {
	background: #648a8b;
	color: #fff;
	border-radius: 8px;
	padding: 5px;
}

h2.inline {
	display: inline-block;
}

.showme {
	display: block !important;
}

.addpresentations {
	display: none;
}


@media screen and (min-width:640px){
	.cmslinks {
		display: block;
	}

	.admin-nav {
		width: 33%;
	}

	.staffContact:nth-child(odd) {
		background-color: transparent;
	}

	.staffContact:nth-child(3){
		background-color: #ececec;
	}

	.staffContact:nth-child(4){
		background-color: #ececec;
	}

	.navinner {
		width: 100%;
	}

	.services:nth-child(odd){
		background-color: transparent;
	}

	.services:nth-child(1n+8){
		background-color: #ececec;
	}

	.bio:nth-child(even) img {
		float: left;
	}

	.bio:nth-child(odd) img {
		float: right;
	}

	.headertag {
		display: inline-block;
		position: absolute;
		right: 0;
		bottom: 35px;
	}

	.sidebar-testimonials blockquote {
		position: absolute;
		left: 10px;
		right: -60px;
		box-shadow: 0 0 30px -2px rgba(0, 0, 0, .7);
	}

	#contactform input[type="text"] {
		width: 80%;
	}
}

@media screen and (min-width: 412px) and (max-width: 641px){
	#logocontainer img {
		width: 50%;
	}

}

@media screen and (min-width: 641px) and (max-width: 736px){
	.top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 0.4rem;
	}
}

.menu-icon span {
	width: 30px;
	height: 40px;
	background: url('../img/icon-menu.png') no-repeat center center;
	display: block;
	margin-left: 10px;
}

@media screen and (min-width:733px){
	.off-canvas-wrap {
		overflow: visible;
	}
	
}

@media screen and (min-width: 1050px) {
	#homeSlider {
		background: url('../img/bg-paper.png');
		padding: 10px;
	}

	#sliderwrapper {
		position: relative;
		height: 336px;
		z-index: 10;
		width: 104%;
		left: -2%;
	}

	#sliderwrapper:before,
	#sliderwrapper:after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		height: 50px;
		background: #777;
		-webkit-box-shadow: 0 15px 10px #777;
		-moz-box-shadow: 0 15px 10px #777;
		box-shadow: 0 15px 10px #777;
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}

	#sliderwrapper:after {
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}
}