* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif !important;
	background: url('../img/bg-curves.png') left bottom;
	background-attachment: fixed;
}

#homeSlider {
	margin: 0;
}

.slick-slide img {
	width: 100%;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: #3e4450;
	border-bottom: 4px solid #648a8b;
	box-shadow: 0 -3px 20px rgb(25, 25, 25), 0 75px 103px -29px rgb(20, 20, 20) inset;
	box-shadow: 0 -3px 20px rgba(0, 0, 0, .8), 0 75px 103px -29px rgba(0, 0, 0, .2) inset;
}

#logocontainer {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 1.5%;
	margin-bottom: -1.5%;
}

#logo {
	display: block;
}

main {
	min-height: 100%;
	background-color: #f9f9f9;
	box-shadow: -5px 0 30px #666, 5px 0 30px #666;
	padding-bottom: 54px;
}

.content-wrap {
	top: 0;
	position: relative;
	background-color: #3e4450;
}

#navcontainer {
	position: relative;
	height: 100%;
}

.buttoncontainer {
	position: relative;
	height: 100%;
}

.navinner {
	position: absolute;
	bottom: 0;
	width: 100%;
	box-shadow: 2px -2px 17px rgba(5, 5, 5, .8);
}

#navbutton {
	display: none;
}

#desktop-nav {
	background-color: #666a73;
	box-shadow: 0 20px 35px rgb(100, 100, 100) inset;
	box-shadow: 0 20px 35px rgba(200, 200, 200, 0.1) inset;
	display: block;
}

#desktop-nav ul.left > li {
	border-left: 1px solid #3e4450;
	border-right: 1px solid #999;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#desktop-nav a {
	text-shadow: 1px 1px #333;
	color: #eee;
	font-weight: bold;
}

#desktop-nav ul.left > li:hover {
	background: #648a8b;
	box-shadow: 0 15px 15px -5px #666a73 inset;
}

#desktop-nav ul.left > li:first-child {
	border-left: none;
}

#desktop-nav ul.left > li:last-child {
	border-right: 1px solid transparent;
}

#desktop-nav ul.left > li:last-child:hover {
	border-right-color: #999;
}

#desktop-nav ul li {
	background: none;
}

#desktop-nav ul.dropdown {
	background: #648a8b;
	box-shadow: 3px 4px 5px rgb(50, 50, 50);
	box-shadow: 3px 4px 5px rgba(0, 0, 0, .5);
}

#desktop-nav ul.dropdown li {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#desktop-nav ul.dropdown li:hover {
	box-shadow: 0 -15px 15px -5px #666a73 inset;
}

#desktop-nav ul li a {
	background: none;
}

.right-submenu,
#mobile-nav {
	background: #666a73;
}

.right-submenu .back > a {
	background: #3e4450;
}

#mobile-nav ul li a {
	border-bottom: 1px solid #3e4450;
	border-top: 1px solid #999;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.fade h2 {
	position: absolute;
	font-size: 1.6em;
	text-align: center;
	width: 100%;
	background-color: rgb(100, 138, 139);
	background-color: rgba(100, 138, 139, .5);
	color: #fff;
	margin: 0;
	bottom: 15px;
}

.slick-prev {
	left: 20px;
}

.slick-next {
	right: 20px;
}

.slick-dots {
	bottom: 0;
	margin: 0;
	margin-left: -10px;
}

.slick-dots li button:before {
	content: " ";
	background: #648a8b;
	border: 1px solid #666a73;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	background-color: rgb(100, 138, 139);
	background-color: rgba(100, 138, 139, .5);
	border: 1px solid #648a8b;
	opacity: 1;
	box-shadow: 1px 1px 2px #000;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.slick-dots li.slick-active button:before {
	background-color: #fff;
	border: #648a8b;
}

.slick-prev:before,
.slick-next:before {
	color: #648a8b;
}

#content {
	min-height: 100%;
}

#content p {
	color: #648a8b;
	padding: 10px;
	margin: 0;
}

.home #content p:nth-child(even) {
	background-color: #ececec;
}

.bio {
	padding: 10px;
	text-align: center;
}

.bio:nth-child(odd) {
	background-color: #ececec;
}

.bio:nth-child(even) img {
	float: left;
}

.bio:nth-child(odd) img {
	float: right;
}

.bio h2 {
	font-size: 1.6em;
}

.bio p {
	margin: 10px;
}

.bio p:nth-child(even) {
	clear: both;
}

#testimonials {
	margin: 0;
}

#testimonials article {
	padding: 20px;
}

#testimonials article:nth-child(even) {
	background-color: #ececec;
}

.staffContact:nth-child(even) {
	background-color: #ececec;
}

.staffContact h2{
	font-size: 1.4em;
}

footer {
	background-color: #648a8b;
	padding-bottom: 15px;
	padding-top: 15px;
	border-top: 4px solid #666a73;
	position: absolute;
	width: 100%;
	bottom: 0;
}

footer ul {
	list-style-type: none;
	margin: 0;
}

footer li {
	display: inline;
}

footer li a {
	font-weight: 900;
	font-size: .9em;
	color: #ddd;
}

footer li:nth-child(2) {
	padding: 0 10px 0 10px;
}

footer p {
	font-size: .8em;
	color: #ddd;
	margin-bottom: 0;
}

.off-canvas-wrap {
	overflow: hidden;
}

#mobile-nav {
	display: block;
}

@media screen and (min-width:640px){
	.staffContact:nth-child(even) {
		background-color: #f9f9f9;
	}

	.staffContact:nth-child(4n+2){
		background-color: #ececec;
	}

	.staffContact:nth-child(4n+3){
		background-color: #ececec;
	}
}

@media screen and (min-width:733px){
	.off-canvas-wrap {
		overflow: visible;
	}
	
}

@media screen and (min-width: 1050px) {
	#homeSlider {
		background: url('../img/bg-paper.png');
		padding: 10px;
	}

	#sliderwrapper {
		position: relative;
		height: 336px;
		z-index: 10;
		width: 104%;
		left: -2%;
	}

	#sliderwrapper:before,
	#sliderwrapper:after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		height: 50px;
		background: #777;
		-webkit-box-shadow: 0 15px 10px #777;
		-moz-box-shadow: 0 15px 10px #777;
		box-shadow: 0 15px 10px #777;
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}

	#sliderwrapper:after {
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}
}