* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif !important;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	height: 200px;
	background-color: #3e4450;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.content-wrap {
	top: 200px;
	position: relative;
}

#desktop-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.fade h2 {
	position: absolute;
	font-size: 1.6em;
	color: #648a8b;
	margin-left: 10px;
}

.slick-dots {
	bottom: 0;
}

.slick-dots li.slick-active button:before {
	color: #648a8b;
}

.slick-dots li button:before {
	font-size: 20px;
	color: #648a8b;
}

footer {
	background-color: #648a8b;
	font-size: .6em;
}

footer ul {
	list-style-type: none;
}

footer li {
	display: inline;
}

footer p {
	font-size: 1.2em;
}